<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container">
    <a class="navbar-brand" href="{{ url_for ('home') }}">Mello Python Blog</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for ('home') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for ('usuarios') }}">Usuarios</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ url_for ('contato') }}">Contatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for ('usuarios') }}">Programação Python</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <ul class="d-flex navbar-nav">
        {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for ('criar_post') }}">Criar Post</a>
            </li>
            <li class="d-flex">
              <a class="nav-link" href="{{ url_for ('perfil') }}">Meu Perfil</a>
            </li>
            <li class="d-flex">
              <a class="nav-link" href="{{ url_for ('sair') }}">Sair</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for ('login_conta') }}">Login</a>
            </li>
            <li class="d-flex">
                <a class="nav-link" href="{{ url_for ('login_conta') }}">Criar Conta</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>