<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid container">
    <a class="navbar-brand" href="{{ url_for ('inicio') }}">Mello Python Blog</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{ url_for ('inicio') }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for ('usuarios') }}">Usuarios</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="{{ url_for ('contato') }}">Contatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for ('usuarios') }}">Programação Python</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <ul class="d-flex navbar-nav">
         <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
        <li class="d-flex">
          <a class="nav-link" href="#">Criar Conta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>